.App {
  margin: 0 20%;
  height: 100%;
  background: beige;
  text-align: center;
}

.section {
  padding-top: 12px;
}
.section--last {
  padding-top: 60px;
}

.buttonGroup {
  margin-top: 12px;
}

.gray {
  color: gray;
}

img {
  width: 80%;
}
button {
  width: 70px;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}
